spring:
  application:
    name: DEPARTMENT-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/department-service
    username: root
    password: sa123

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8080
